@use "sass:color";


//* RESET ==========
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Montserrat', 'Arial', sans-serif;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

//* VARIABLES ==========

$magenta: #ea4f79;
$blue: #42acdc;
$yellow: #ffff00;
$orange: #ea5730;
$mint: #b7dbc4;
$dark-mint: #83c6a3;
$purple: #e5b3ff;
$dark-purple: #4f1f69;
$dark-gray: #303030;
$light-gray: #b9b9b9;
$dark: #232323;
$black: #1d1d1d;
$light: #fafafa;
$shadow: 0px 3px 0 0 rgb(0 0 0 / 0.2);
$shadow-hover: 0px 4px 0 0 rgb(0 0 0 / 0.2);

$size-sm: clamp(0.9rem, 0.6vw + 0.7rem, 1.2rem);
$size-base: clamp(1rem, 0.7vw + 0.8rem, 1.4rem);
$size-h6: clamp(1.1rem, 0.8vw + 1rem, 1.6rem);
$size-h5: clamp(1.3rem, 0.9vw + 1.1rem, 1.8rem);
$size-h4: clamp(1.5rem, 1vw + 1.3rem, 2.1rem);
$size-h3: clamp(1.7rem, 1.2vw + 1.5rem, 2.4rem);
$size-h2: clamp(2rem, 1.4vw + 1.7rem, 2.8rem);
$size-h1: clamp(2.3rem, 1.6vw + 1.9rem, 3.2rem);


//* BÁSICOS ==========

body {
  font-family: 'Montserrat', 'Arial', sans-serif;
}

p, li, td, th, label, button {
  font-size: $size-base;
}

small, .small {
  font-size: $size-sm;
}

a {
  display: inline-block;
  font-size: $size-base;
  text-decoration: none;
  color: $magenta;
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    background-color: $magenta;
    width: 100%;
    bottom: 2px;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform .05s ease;
  }
  
  &:hover::after {
    transition: transform .5s ease;
    transform: scaleY(1);
  }
}

h1, .h1 {
  font-size: $size-h1;
}

h2, .h2 {
  font-size: $size-h2;
}

h3, .h3 {
  font-size: $size-h3;
}

h4, .h4 {
  font-size: $size-h4;
}

h5, .h5 {
  font-size: $size-h5;
}

h6, .h6 {
  font-size: $size-h6;
}

button {
  padding: 0.5rem 0.8rem;
  margin: 0.5rem;
  border-radius: 0;
  border: 2px solid $dark;
  background-color: $magenta;
  color: white;
  box-shadow: $shadow;
  transition: background-color 0.1s ease;
}

button:hover {
  transition: background-color 0.5s ease;
  background-color: lighten($magenta, 10%);
}


// FORMS

::placeholder, input[type="date"] {
  color: $light-gray;
}


input, progress {
  accent-color: $magenta;
}

input, select {
  margin: 0.5rem;
  padding: 0.5rem 0.8rem;
  border-radius: 0;
  border: 2px solid $dark;
  outline: none;
  box-shadow: $shadow;
  transition: box-shadow 0.3s ease;
}
select {
  padding: 0.6rem 0.8rem;
}


input:focus-visible {
  box-shadow: $shadow-hover;
}

input[type="checkbox"], input[type="radio"]  {
  width: 1.2rem;
  height: 1.2rem;
  box-shadow: none;
  position: relative;
  top: 3px;
}

input[type="range"] {
  box-shadow: none;
  border: none;
  margin-block: 0;
  padding-block: 0;
  position: relative;
  top: 3px;  
}

input[type="color"] {
  padding: 0 0.2rem;
}

table {
  border-collapse: collapse;
  border: 4px solid $dark;
  text-align: center;
  margin: 2rem 0;
}

th, td {  
  border: 2px solid $dark;  
}

th, td {
  padding: 0.5rem;
}



//* UTILIDADES ==========

.container {
  width: 80%;
  max-width: 1100px;
  margin: 2rem auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-vertical {
  display: grid;
  place-content: center;
}

.bg-magenta {
  background-color: $magenta;
}
.bg-blue {
  background-color: $blue;
}
.bg-yellow {
  background-color: $yellow;
}
.bg-orange {
  background-color: $orange;
}
.bg-mint {
  background-color: $mint;
}
.bg-dark-mint {
  background-color: $dark-mint;
}
.bg-purple {
  background-color: $purple;
}
.bg-dark-gray {
  background-color: $dark-gray;
}
.bg-dark {
  background-color: $dark;
}
.bg-black {
  background-color: $black;
}

.text-magenta {
  background-color: $magenta;
}
.text-blue {
  background-color: $blue;
}
.text-yellow {
  background-color: $yellow;
}
.text-orange {
  background-color: $orange;
}
.text-mint {
  background-color: $mint;
}
.text-dark-mint {
  background-color: $dark-mint;
}
.text-purple {
  background-color: $purple;
}
.text-dark-gray {
  background-color: $dark-gray;
}
.text-dark {
  background-color: $dark;
}
.text-black {
  background-color: $black;
}

.text-center {
  text-align: center;
}

.shadow {
  box-shadow: $shadow;
}


.border-0 {
  border: 0px solid $dark;
}
.border-1 {
  border: 1px solid $dark;
}
.border-2 {
  border: 2px solid $dark;
}
.border-3 {
  border: 3px solid $dark;
}
.border-4 {
  border: 4px solid $dark;
}

.border-light {
  border-color: $light;
}

.border-dark {
  border-color: $dark;
}

.m-0 {
  margin: 0;
}

.mt-1 {
  margin: 0.25rem;
}
.mt-2 {
  margin: 0.5rem;
}
.mt-3 {
  margin: 0.75rem;
}
.mt-4 {
  margin: 1rem;
}
.mt-5 {
  margin: 1.5rem;
}

.mb-1 {
  margin: 0.25rem;
}
.mb-2 {
  margin: 0.5rem;
}
.mb-3 {
  margin: 0.75rem;
}
.mb-4 {
  margin: 1rem;
}
.mb-5 {
  margin: 1.5rem;
}

.underline {
  text-decoration: underline;
}

.not-underline {
  text-decoration: none;
}


//* CAJAS ==========

.padre {
  border: 3px solid $dark;
  padding: 1rem;
  box-shadow: $shadow;
  margin: 2rem 0;
}

.hijo {
  border: 3px solid $light;
  padding: 1rem;
  width: 100px;
}
